<!DOCTYPE html>
<html ng-app="App">
<head>
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<h1> Pagination in Angular</h1>

<div class="container-fluid">


	<form>
		<div class="form-group pull-right">
			<input type="text" ng-model="search" class="form-control" placeholder="search" autofocus>
		</div>
	</form>
	<div ng-controller="test">
		<pagination total-items="totalItems" ng-model="currentPage"  
	             max-size="5" boundary-links="true"  
	             items-per-page="numPerPage" class="pagination-sm">  
	    </pagination>
	
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Detail</th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-repeat="obj in users | filter : paginate">
					<td>{{obj.id}}</td>
					<td>{{obj.title}}</td>
					<td>
						<div>
							<button class="btn btn btn-success btn-sm" ng-click="login('hello')">Details</button>
						</div>
					</td>
				</tr>
			</tbody>			
		</table>
		<pagination total-items="totalItems" ng-model="currentPage"  
             max-size="5" boundary-links="true"  
             items-per-page="numPerPage" class="pagination-sm">  
       </pagination> 	
	</div>
</div>

<script src="http://code.angularjs.org/1.2.16/angular.js"></script>
<script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="script.js"></script>
</body>
</html>