<form>
            <h3>Insert new task</h3>
            <div class="has-feedback">
                <input type="text" class="form-control" placeholder="Task to make" ng-model="task.name"></input>
                <span class="glyphicon glyphicon-tasks form-control-feedback"></span>
            </div>
            <div>
                <span class="glyphicon glyphicon-time"></span>&nbsp;<span class="lead priority">Choose a priority</span>
                <label class="radio-inline">
                    <input type="radio" ng-model="task.priority" value="Slow"></input> Slow
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="task.priority" value="Normal"></input> Normal
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="task.priority" value="High"></input> High
                </label>
            </div>
            <div class="text-center editBtn">
                <button class="btn btn-success btn-sm" ng-click="update()">Update</button>
                <button class="btn btn-danger btn-sm" ng-click="delete()">Delete</button>
            </div>
        </form>
        <div>
            <a ui-sref="alta">Return</a>
        </div>